.nav__wrap {
  background-color: $color-primary;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  color: $color-white;
  &__logo {
    h2 {
      font-family: Unbounded, sans-serif;
      font-size: 2.4rem;
    }
  }

  &__menu {
    ul {
      display: flex;
      list-style: none;
      align-items: center;
      li {
        font-size: 1.8rem;
        cursor: pointer;
        &:not(:last-of-type) {
          margin-right: 3rem;
        }

        &:last-of-type {
          border: 1px solid $color-white;
          border-radius: 20rem;
          padding: 1rem 2rem;
        }
      }
    }
  }
}
