.nav__wrap {
  position: relative;
  background-color: $color-primary;
  position: fixed;
  width: 100%;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  @include respond(phone) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  color: $color-white_1;

  &__logo {
    h2 {
      font-family: Unbounded, sans-serif;
      font-size: 2.8rem;
    }
  }

  &__menu {
    // ! main menu
    &--menuList {
      display: flex;
      list-style: none;

      li {
        font-size: 1.8rem;
        cursor: pointer;

        &:first-of-type {
          border: 1px solid $color-white_1;
          border-radius: 20rem;
          padding: 1rem 2rem;
          font-weight: 500;
          // margin-right: 3.5rem;
        }

        &:nth-of-type(2) {
          width: 4rem;
          height: 4rem;
          display: none;
          pointer-events: none;

          img {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(39deg)
              brightness(106%) contrast(103%);
            height: 100%;
            width: 100%;
          }
        }

        @include respond(phone) {
          &:first-of-type {
            display: none;
            pointer-events: none;
          }

          &:nth-of-type(2) {
            display: block;
            pointer-events: all;
          }
        }
      }
    }

    // ! Side nav menu
    &--sideNav {
      background-color: $color-primary;
      position: absolute;
      top: 0;
      height: 100vh;
      width: 30%;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
      right: 0;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;

      @include respond(phone) {
        width: 100%;
      }

      ul {
        display: flex;
        flex-direction: column;
        color: $color-sec;
        list-style: none;
        padding: 3rem;
        gap: 6rem;
        margin-top: 5rem;
        text-align: center;
        li {
          font-size: 2rem;

          a {
            color: $color-sec;
            border: 0 !important;
          }
        }
      }

      .sideNav--close {
        position: absolute;
        top: 2.5rem;
        right: 2rem;
        height: 3.5rem;
        width: 3.5rem;
        cursor: pointer;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .open {
      transform: translateX(0);
    }
  }
}

// ! navigation scrolled

.nav--scrolled {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  background-color: $color-primary;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

  .nav {
    color: $color-sec;
    padding: 1rem 0;
    &__menu {
      &--menuList {
        display: flex;
        align-items: center;
      }
      .nav--cta {
        border: 2px solid $color-sec;
      }
      .hamburger {
        height: 4rem;

        img {
          filter: invert(97%) sepia(97%) saturate(4262%) hue-rotate(337deg)
            brightness(104%) contrast(87%);
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
