---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
---

<Layout title="Rightlabs">
  <div class="nav__wrap">
    <Nav />
  </div>
  <Header />
</Layout>
