.header {
  // height: 100vh;
  height: var(--height);
  background-color: $color-primary;
  position: relative;

  &__box {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--heading {
      width: 80%;

      img {
        height: 100%;
        width: 100%;
      }

      .phone {
        display: none;
        pointer-events: none;
      }

      @include respond(tab-pot) {
        width: 100%;
        .laptop {
          display: none;
          pointer-events: none;
        }
        .phone {
          display: block;
          pointer-events: all;
        }
        width: 100%;
      }
      @include respond(phone) {
        // width: 110%;
      }
    }

    h3 {
      margin: 0 auto;
      width: 50%;
      text-align: center;
      margin-top: 3rem;
      font-size: 2rem;
      color: $color-white_1;
      font-weight: 300;
      line-height: 140%;
    }
  }

  @include respond(phone) {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 70vh;
  }

  &__projectGallery {
    position: absolute;
    bottom: -13%;
    width: 100%;
    left: 0;
    .gallery--slider {
      .slick-list {
        img {
          width: 97%;
          height: auto;
          pointer-events: none;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        }
      }
    }
  }
}
