.services {
  &__wrapper {
    background-color: $color-white_2;
  }
  padding: 18rem 0 8rem 0;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
    &--heading {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 65%;
      h2 {
        font-size: 2.4rem;
        line-height: 140%;
        font-family: Unbounded, sans-serif;
        position: relative;

        .underline {
          position: absolute;
          top: 80%;
          left: 0;
          width: 100%;
          img {
            width: 50%;
            height: auto;
          }
        }
      }
      h3 {
        margin-top: 4rem;
        font-weight: 400;
        font-size: 1.6rem;
        width: 75%;
      }
    }

    &--btnWrap {
      width: 35%;
      text-align: right;
    }
  }

  &__carousal {
    overflow: hidden;
    cursor: grab;
    gap: 3rem;
    justify-content: space-between;
  }

  .inner-carousal {
    display: flex;
  }

  @include respond(phone) {
    padding: 18rem 2rem 8rem 2rem;

    &__top {
      &--heading {
        width: 100%;
        h3 {
          width: 100%;
        }
      }
      &--btnWrap {
        display: none;
        pointer-events: none;
      }
    }

    &__content {
      flex-direction: column;
    }
  }
}
