.services {
  &__wrapper {
    background-color: $color-white_2;
  }
  padding: 16rem 0 8rem 0;
  &__top {
    display: flex;
    justify-content: space-between;
    &--heading {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h2 {
        font-size: 3.2rem;
        line-height: 140%;
        font-family: Unbounded, sans-serif;
        position: relative;

        .underline {
          position: absolute;
          top: 80%;
          left: 0;
          width: 100%;
          img {
            width: 50%;
            height: auto;
          }
        }
      }
      //   h3 {
      //     margin-top: 3rem;
      //     font-weight: 400;
      //     font-size: 1.6rem;
      //   }
    }
  }
}
