.work__wrapper {
  background-color: $color-blue-1;
}

.work {
  &__top--heading {
    color: $color-white_1;

    .underline {
      img {
        filter: invert(100%) sepia(95%) saturate(20%) hue-rotate(309deg)
          brightness(106%) contrast(107%);
      }
    }
  }
}
