---
---

<header class="h-screen bg-blue relative">
  <div
    class="w-5/6 absolute -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2 text-white"
  >
    <h1 class="capitalize text-5xl font-grifter text-center leading-normal">
      Creative Design & Development agency <br /> for better products
    </h1>
  </div>
</header>
