---
---

<nav class="nav row">
  <div class="nav__logo">
    <h2>Rightlabs.</h2>
  </div>
  <div class="nav__menu">
    <ul>
      <li>Services</li>
      <li>Projects</li>
      <li>Contact Us</li>
    </ul>
  </div>
</nav>
