.btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.4s ease-in-out;
}

.btn--nav--pri,
.btn--nav--sec {
  background-color: $color-primary;
  padding: 1.5rem 3rem;
  border-radius: 20rem;
  font-size: 2rem;
  color: $color-white_1;
}
.btn--nav--sec {
  background-color: $color-sec;
  color: $color-blue-1;
}

.btn--pri {
  background-color: $color-sec;
  padding: 1.5rem 2.5rem;
  border-radius: 20rem;
  font-size: 1.6rem;
  font-weight: 500;
  &:hover {
    transform: scale(1.08);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }
}
.btn--work {
  margin-top: 2rem;
}

.btn--pri--body {
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
}
